<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">
<meta name="author" content="Juan Camilo Osorio Ospina; Matia Paula Contreras">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "creator": [
    {
      "@type": "Person",
      "name": "Juan Camilo Osorio Ospina",
      "affiliation": {
        "@type": "Organization",
        "name": "Fundación Jardín Botánico Guillermo Piñeres"
      }
    },
    {
      "@type": "Person",
      "name": "Maria Paula Contreras",
      "affiliation": {
        "@type": "Organization",
        "name": "Fundación Jardín Botánico Guillermo Piñeres"
      }
    }
  ],
  "description": "Developed by Juan Camilo Osorio and Maria Paula Contreras while at Fundación Jardín Botánico Guillermo Piñeres",
  "url": "https://data.jbgp.org.co/"
}
</script>