@import "theme/_main";

// You can add additional styling here
@import "_example";

//Pone la barra de menú en el centro

.navbar-content {
    flex-grow: unset;
      margin: auto;
  }

  //Define la barra de menú fija

.navbar {
	background-color: white;
	floating: true;
	//position: sticky;
	background-size: cover;
	top: 0;
	width: 100%;
	box-shadow: 0px 5px 40px rgba(0,0,0,0.1);
	.navbar-brand {
 		background-size: cover;
	  }
}


//Corrige separación entre elementos de listas

.content li, .feature-content li {
    margin-bottom: 0.1em;
}