---
layout: base
description: Default template for resource detail page
preTitle: Resource
hasTextWidth: true
---
{% assign languageCode = site.data.languages[page.lang].widgetLocale | default: site.data.languages[page.lang].languageCode | default: page.lang | default: site.algae.rootLang | default: 'en' %}

{{ content }}

<div id="root"></div>
<script>
  var widgetLocale = '{{ languageCode }}';
  var userTheme = typeof siteTheme !== 'undefined' ? siteTheme : undefined;
  var userConfig = typeof siteConfig !== 'undefined' ? siteConfig : {};
  var routes = userConfig.routes || {};
  var basename = '';
  routes.basename = basename;
  
  var key = '{{ page.key }}';
  if (!key && window.location.pathname.indexOf('/resource/') === 0) {
    // Extract UUID from URL if on a resource page
    var pathParts = window.location.pathname.split('/');
    if (pathParts.length > 2) {
      key = pathParts[2];
    }
  }
  
  if (key) {
    // Resource detail page
    ReactDOM.render(
      React.createElement(
        gbifReactComponents.ResourceKey,
        {
          id: key,
          style: { minHeight: 'calc(100vh - 4.25rem)' },
          locale: widgetLocale,
          siteConfig: {
            ...userConfig,
            theme: userTheme,
            locale: widgetLocale
          }
        }
      ),
      document.getElementById('root')
    );
  } else {
    // Resource search page
    ReactDOM.render(
      React.createElement(
        gbifReactComponents.ResourceSearch,
        { 
          style: { minHeight: 'calc(100vh - 4.25rem)' },
          siteConfig: {
            ...userConfig,
            theme: userTheme,
            locale: widgetLocale
          }
        }
      ),
      document.getElementById('root')
    );
  }

  if (typeof userTheme === 'undefined') {
    console.warn('No theme defined - using default styling');
  }
</script>
